body{
    box-sizing:border-box;
}



#container{
    display:flex;
    width:50%;
    margin:20px auto;
    
}


#tower1,#tower2,#tower3{
        flex-basis:33%;
        height:200px;
        display: flex;  
        flex-direction: column-reverse;  
        align-items: center;
        border:1px solid black;
        margin-right:10px;
        background-color: bisque;
    
}

#disc1{
    width:150px;
    height:25%;
    background-color: red;
    border:1px solid grey;

}

#disc2{
    width:120px;
    height:25%;
    background-color: yellow;
    border:1px solid grey;
    
}

#disc3{
    width:90px;
    height:25%;
    background-color: green;
    border:1px solid grey;
}

#disc4{
    width:60px;
    height:25%;
    background-color: blue;
    border:1px solid grey;
}

#display{
    width:50%;
    margin:15px auto;
    font-size:20px;
    background-color: aqua;
    padding:10px;
}
#result{
    width:50%;
    margin:15px auto;
    font-size:30px;
    background-color: blue;
    padding:10px;
    color:yellow;

}
#reset{
    width:50%;
    margin:15px auto;
    font-size:30px;
    text-align:center;

}
button{
    width:100px;
    height:50px;
    background-color: aliceblue;
    font-size: 20px;
}